.container{
    display: block;
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
    text-align: left;
    word-wrap: break-word;
    border-style: solid;
}
.card-holder{
    display: flex !important;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.image-holder{
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 0;
    border: none;
}
.m-3{
    margin: 3rem i !important;
}
h2{
    font-weight: normal;
}